/* ================= REGRAS GERAIS ================= */

:root {
   --cor-principal: #23d3a3;
   --cor-secundária: #181f1c;
   --bg-footer: #0f1613;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   list-style-type: none;
   text-decoration: none;
   font-family: Consolas;
}

/* Container Geral */

.c-box {
   display: grid;
   height: 100vh;
   grid:
      "main" 1fr
      "footer" 50px;
   background: var(--cor-secundária);
}

/* Content */

main {
   grid-area: main;
   display: flex;
   justify-content: center;
}

.c-container {
   margin-top: 80px;
   display: grid;
   grid:
      "nav" 30px
      "conteudo";
   gap: 20px;
}

/* Nav */
.c-buttons {
   display: flex;
   justify-content: space-evenly;
}

.c-buttons li {
   background: var(--cor-principal);
   width: 10px;
   height: 10px;
   border-radius: 50px;
}

.c-buttons li + li {
   margin-left: 20px;
}

/* Content */

.c-content {
   width: 280px;
}
.c-content p {
   font-size: 16.65px;
   color: white;
   width: 250px;
   margin: 0 auto;
}

.c-content span {
   color: var(--cor-principal);
   font-weight: bold;
}

.c-content h2 {
   font-size: 33.3px;
   font-weight: bold;
   color: var(--cor-principal);
   letter-spacing: 2.7px;
   width: 253px;
   margin: 0 auto;
}

.c-content a {
   display: block;
   color: var(--bg-footer);
   padding: 5px 10px 5px 10px;
   border-radius: 3em;
   background: var(--cor-principal);
   font-weight: bold;
   width: 80px;
   text-align: center;
   margin: 20px auto 0 auto;
}

/* Footer */

footer {
   grid-area: footer;
   /* padding: 20px; */
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--bg-footer);
}

footer img {
   width: 40px;
}

footer img + img {
   margin-left: 20px;
}
